/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url(img/girls.jpg);
}

:root{
    --color-azul: #5da89f;
    --color-laranja: #ee6146;
    --color-marrom: #5f383a;
    --color-nude: #f7dec9;
    --color-branco: #fff;
}
header{
    width: 100%;
}
header #navbar{
    width: 100%;
    height: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: var(--color-branco);
    z-index: 100;
    box-shadow: 0 1px 4px 4px rgba(0, 0, 0, 0.041);
    
}
header .nav-list{
    display: flex;
    gap: 40px;
}

header .nav-item{
    list-style: none;
     text-transform: uppercase;
}

header a{
    text-decoration: none;
    color: var(--color-laranja);
    font-weight: 500;
    transition: color 0.3 ease;
}
header a:hover{
    color: var(--color-azul);
}

/* Formulario */
#main-container{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 60%;
    position: fixed;
}
#container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-branco);
    

}
main #content-left{
    position: absolute;
    align-items: center;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
 h1{
    text-align: center;
    color: var(--color-laranja);
    margin-top: 10px;
    margin-bottom: 5px;
    
}
#icons{
    text-align: center;
}
#icons h5{
    font-weight: 500;
    color: var(--color-marrom);
}
/* para estilizar icons do bootstrap precisei usar comandos para texto */
i{
    font-size: 28px;
    letter-spacing: 20px;
    text-align: center;
    color: var(--color-azul);
    cursor: pointer;
    margin-left: 2rem;
    transition: color 0.2s ease;
}
i:hover{
    color: #119c8c;
}
/* área dos inputs */
#form{
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
/* estilo dos inputs tipo texto e senha */
#form input[type='text']{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--color-nude);
    border-radius: 8px;
    text-align: left;
    position: relative;
    cursor: pointer;
    outline: none;
    padding: 10px;
  
}
input[type='password']{
    width: 50%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--color-nude);
    border-radius: 8px;
    text-align: left;
    position: relative;
    cursor: pointer;
    outline: none;
    padding: 10px;
}
/* estilo imput tipo data */
#form input[type='date']{
    width: 30%;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid var(--color-nude);
    color: #5f383aa4 ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
/* estilo do placeholder */
#form input::placeholder{
    padding-left: 6px;
    opacity: 0.5;
    color: var(--color-marrom);
}
label{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-marrom);
}
/* input do botão */
#form input[type='submit']{
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 13rem;
    border-radius: 8px;
    outline: none;
    background-color: var(--color-laranja);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.404);
    color: var(--color-branco);
    font-size: 15px;
    font-weight: 600;
    transition: color 0.3s ease;
}
#form input[type='submit']:hover{
    background-color: #e63714;
}
p{
    margin-left: 11rem;
    font-size: 15px;
    color: var(--color-marrom);
}
p a{
    text-decoration: none;
    color:#119c8c;
    transition: color 0.2 ease;
}
p a:hover{
    color: #065047;
}

/* responsividade */
